header{
    position: fixed;
    width: 100%;
    background-color: #070C20;
    opacity: 0.9;
}
.cover{
    width: 100%;
    background: url("../static/images/1920/fon.svg");
    background-size: cover;
}
.header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo{
    padding: 5px 0px 5px 0px;
}
.menu{
    display: flex;
}
.menu__item {
    display: inline-block;
    margin-right: 30px;
}
.menu__item a:hover{
    transition: color .4s ease;
    color: goldenrod;
}
.menu__item a b {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.header__burger{
    display: none;
}
.cover p{    
    margin: 0 auto;
    padding-top: 145px;
    font-size: 20px;
    text-align: center;
}
.cover h1{
    margin: 0 auto;
    margin-top: 70px;
    font-size: 48px;
    line-height: 96px;
    align-items: center;
    text-align: center;
}
.cover h6{
    margin: 0 auto;
    max-width: 670px;
    margin-top: 70px;
    margin-bottom: 100px;
    text-align: center;
}
.btn__container{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 70px;
}
.btn:nth-child(2){
    padding: 10px 111px;
}

@media screen and (max-width: 1110px){
    .header__logo img{
        width: 60px;
        height: 60px;
    }
    .cover h6{
        font-size: 18px;
    }
}

@media screen and (max-width: 992px){
    header{
        display: none;
    }
    .cover{
        background: url("../static/images/1024/fon.svg");background-size: cover;
    }
    .cover p{
        padding-top: 100px;
        font-size: 18px;
        line-height: 150%;
    }
    .cover h1{
        font-size: 48px;
        line-height: 150%;
        text-align: center;
        margin-top: 60px;
    }
    .cover h6{
        margin-top: 60px;
    }
    .header__burger{
        display: block;
        position: absolute;
        width: 30px;
        height: 20px;
        top: 40px;
        left: 40px;
    }
    .header__burger__item{
        background-color: white;
        position: absolute;
        left: 0;
        width: 70%;
        height: 3px;
        top: 9px;
        transition: all 0.6s ease 0s;
    }
    .header__burger::before,
    .header__burger::after{
        content: '';
        background-color: white;
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
        transition: all 0.6s ease 0s;
    }
    .header__burger::before{
        right: 0;
    }
    .header__burger::after{
        bottom: 0;
        width: 40%;
    }
    .header__burger.active::before{
        transform: rotate(45deg);
        top: 9px;
        width: 100%;
        background-color: black;
    }
    .header__burger.active::after{
        transform: rotate(-45deg);
        bottom: 9px;
        width: 100%;
        background-color: black;
    }
}

@media screen and (max-width: 767px){
    .cover{
        background: url("../static/images/768/fon.svg");background-size: cover;
    }
    .cover p{
        padding-top: 120px;
        font-size: 14px;
    }
    .cover h1{
        font-size: 36px;
        margin-top: 30px;
    }
    .cover h6{
        font-size: 14px;
        margin-top: 30px;
        margin-bottom: 70px;
    }
    .btn__container{
        padding-bottom: 50px;
    }
    .btn{
        padding: 10px 65px;
    }
    .btn:last-child{
        padding: 10px 90px;
    }
}

@media screen and (max-width: 575px){
    .cover{
        background: url("../static/images/576/fon.svg");background-size: cover;
    }
    .cover p{
        font-size: 13px;
    }
    .cover h1{
        font-size: 24px;
    }
    .cover h6{
        font-size: 13px;
    }
    .btn__container{
        padding-bottom: 45px;
    }
    .btn{
        padding: 7px 30px;
        font-size: 14px;
    }
    .btn:last-child{
        padding: 7px 60px;
    }
    .header__burger{
        left: 20px;
    }
}

@media screen and (max-width: 479px){
    .cover p{
        padding-top: 110px;
        font-size: 13px;
    }
    .cover h1{
        font-size: 24px;
        margin-top: 20px;
    }
    .cover h6{
        font-size: 13px;
        margin-top: 20px;
        margin-bottom: 35px;
    }
    .btn__container{
        display: grid;
        padding-bottom: 0;
    }
    .btn{
        font-size: 12px;
        margin-bottom: 30px;
    }
    .header__burger{
        top: 20px;
    }
}

@media screen and (max-width: 320px){
    .cover{
        background: url("../static/images/320/fon.svg");
    }
    .cover p{
        padding-top: 70px;
        font-size: 10px;
    }
    .cover h1{
        font-size: 17px;
        margin-top: 25px;
    }
    .cover h6{
        font-size: 10px;
        margin-bottom: 30px;
    }
}