p{
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    align-items: center;
    letter-spacing: 0.05em;
    text-align: center;
}
a{
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
}
header{
    background-image: url(../Img/1920/fon.svg);
    width: 100%;
}
.plaha{
    position: fixed;
    width: 100%;
    background-color: #070C20;
    opacity: 0.9;
}
.wrapper_plah{
    max-width: 1110px;
    margin: 0 auto;
    padding: 0px 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 80px;
    height: 80px;
    margin: 5px 0px;
}
nav .mnu_top{
    list-style-type: none;
}    
nav .mnu_top li{
    display:inline-block;
    margin-right: 30px;
}
nav .mnu_top li a{
    display: block;
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    transition: color .4s ease;
}
nav .mnu_top li:last-child{
    margin-right: 0px;
}
nav .mnu_top li a:hover{
    color: goldenrod;
}
nav .mnu_top li a b{
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
header .wrapper_head{
    max-width: 1110px;
    margin: 0 auto;
    padding: 0px 2px;
}
.text_zag{
    margin:  0 auto;
    padding-top: 145px;
    font-size: 20px;
    max-width: 780px; 
}
.text_zag1{
    margin: 0 auto;
    margin-top: 70px;
    font-size: 64px;
    font-weight: 700;
    line-height: 96px;
    letter-spacing: 0.1em;
}
.text_zag2{
    margin: 0 auto;
    max-width: 670px;
    margin-top: 70px;
    margin-bottom: 100px;
}
.buttom_flex{
    display: flex;
    justify-content: space-around;
    padding-bottom: 45px;
}
.buttom_head{
    width: 279px;
    height: 57px;
    background: #2E4E70;
    border: 4px solid #2E4E70;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.buttom_head a{
    letter-spacing: 0.05em;
    justify-content: center;
}
.buttom_head:hover{
    background-color: #070C20;
}
.buttom_head a:hover{
    color: goldenrod;
}



.content_boxOne{
    width: 100%;
    background-color: white;
}
.content_boxOne p{
    color: black;
}
.box{
    padding-top: 150px;
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.box_imgInfo{
    width:510px; 
    height: 545px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.28), rgba(0, 0, 0, 0.28)), url(20161116_123931.jpg);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.text_infoBox{
    max-width: 530px;
}
.btz{
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    text-align: inherit;
    padding-top: 26px;
    margin-bottom: 20px;
}
.btt{
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    text-align: inherit;
    margin-bottom: 40px;
}
.bti{
    font-size: 16px;
    line-height: 175%;
    align-items: center;
    text-align: justify;
    margin-bottom: 50px;
}
.arrow{
    width: 110px;
}
.flex_boximg{
    padding-top: 150px;
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.boximg{
    max-width: 350px;
}
.boximg img{
    margin: 0 auto;
}
.obz{
    margin-top: 21px;
    font-weight: bold;
    letter-spacing: 0.05em;
}
.obt{
    margin-top: 20px;
    text-align: inherit;
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 150px;
}



.content_boxtwo{
    width: 100%;
    background-image: url(../Img/1920/box2.svg);
}
.boxtwo{
    max-width: 1110px;
    margin: 0 auto;
}
.b2tz{
    padding-top: 100px;
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    align-items: center;
    letter-spacing: 0.1em;
    margin-bottom: 100px;
}
.ib{
    margin-bottom: 60px;
    display: flex;
}
.ib:last-child{
    margin-bottom: 100px;
}
.data{
    max-width: 160px;
    border-right: 1px solid #515151;
    margin-right: 30px;
}
.data p{
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    font-feature-settings: 'tnum' on, 'lnum' on;
    margin-right: 35px;
    padding-top: 20%;
}
.ibz{
    max-width: 920px;
}
.zi{
    text-align: inherit;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    font-feature-settings: 'tnum' on, 'lnum' on;
}
.content_inf{
    margin-top: 10px;
    border-top: 1px solid #515151;
}
.text_inf{
    padding-top: 10px;
    text-align: inherit;
    font-size: 16px;
    line-height: 20px;
}
.text_inf a{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    display: contents;
    color: #6C84D8;
}
.btn_inf{
    display: flex;
    margin: 0 auto;
    width: 394px;
    height: 52px;
    background: #2E4E70;
    border: 3px solid #2E4E70;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 115px;
}
.btn_inf a{
    letter-spacing: 0.05em;
    font-size: 18px;
    line-height: 22px;
    padding: 15px 51px;
}
.btn_inf a{
    letter-spacing: 0.05em;
    justify-content: center;
}
.btn_inf:hover{
    background-color: #070C20;
}
.btn_inf a:hover{
    color: goldenrod;
}



.content_boxthree{
    width: 100%;
    background-color: white;
}
.content_boxthree p{ color:  black;}
.boxthree{
    padding-top: 150px;
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.text_infoBox3{
    max-width: 530px;
}
.b3tz{
    font-weight: 600;
    font-size: 36px;
    line-height: 150%;
    text-align: inherit;
    margin-bottom: 30px;
}
.b3ti{
    font-size: 18px;
    line-height: 175%;
    text-align: justify;
    margin-bottom: 45px;
}
.boxthree_imgInfo{
    width: 521px;
    height: 475px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(017c2a1421bb0e674907021bd25d54d0.jpg);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 150px;
}
.box_org{
    max-width: 1110px;
    margin: 0 auto;
}
.b3tz2{
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    margin-bottom: 100px;
    letter-spacing: 0.1em;
}
.box_orgcom{
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
}
.orgcom{
    max-width: 160px;
}
.orgcom img{
    width: 150px;
    height: 150px;
    margin-bottom: 7px;
}
.orgdolj{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #161616;
    margin-bottom: 10px;
}
.orginf{
    font-size: 16px;
    line-height: 150%;
    display: flex;
    align-items: center;
    text-align: center;
}


.content_boxfour{
    width: 100%;
    background-image: url(../Img/1920/box4.svg);
}
.boxfour{
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bloc_S{
    max-width: 470px;
    justify-content: space-between;
}
.hr{
    border-right: 1px solid rgba(81, 81, 81, 1);
    width: 1px;
    height: 400px;
    margin-bottom: 50px;
}
.b4tz{
    margin-top: 91px;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 50px;
}
.bloc_S:last-child .b4tz{
    margin-bottom: 20px;
}
.scrol{
    overflow-y: scroll;
    height: 350px;
    margin-bottom: 110px;
}
.b4tt{
    font-size: 16px;
    line-height: 150%;
}




.content_boxfive{
    width: 100%;
}
.boxfive{
    max-width: 1110px;
    margin: 0 auto;
}
.boxfive h1{
    margin-top: 150px;
    text-align: center;
    margin-bottom: 100px;
}
.img_part{
    display: flex;
    margin-bottom: 150px;
    justify-content: space-around;
}

.box_map{
    width: 100%;
    background-image: url(../Img/1920/mapp.svg);
}
.map{
    padding: 77px 0px;
    max-width: 1110px;
    margin: 0 auto;
}
.block_contact{
    Width:505px;
    Height:427px;
    background: rgba(51, 51, 51, 0.8);
}
.wrapper_map{
    max-width: 337px;
    margin: 0 auto;
}
.wrapper_map img{
    padding-right: 30px;
    width: 65px;
    height: 40px;
}
.bmz{
    padding-top: 34px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 26px;
}
.trag_map{
    display: flex;
    margin-bottom: 26px;
    align-items: center;
}
.trag_map p{
    max-width: 267px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: inherit;
}
.telepfon_map{
    display: flex;
    margin-bottom: 26px;
    align-items: center;
}
.telepfon_map p{
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: inherit;
}
.poshta_map{
    display: flex;
    margin-bottom: 30px;
    align-items: center;
}
.poshta_map a{
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
}
.btn_k{
    display: flex;
    align-items: center;
    justify-content: space-around;
    Width:220px;
    Height:50px;
    border: 2px solid #FFFFFF;
    background: rgba(51, 51, 51, 0.0);
    box-sizing: border-box;
    border-radius: 10px;
    margin:  0 auto;
}
.btn_k a{
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}


footer{color: white;}
.footer{
    width: 100%;
    background-image: url(../Img/1920/box2.svg);
}
.footer p{
    font-size: 14px;
    line-height: 17px;
    text-align: inherit;
}
.footer a{
    font-size: 14px;
    line-height: 150%;
    display: contents;
}
.wrapper_foot{
    max-width: 1110px;
    margin: 0 auto;
}
.footer_top{
    padding-top: 78px;
    display: flex;
    justify-content: space-between;
}
.cont1{
    max-width: 364px;
}
.tf{   
    margin-bottom: 32px;
}
.sch{
    margin-top: 40px;
    width: 190px;
    height: 50px;
    background: #C4C4C4;
}
.cont1 a{
    color: rgba(108, 132, 216, 1);
}
.cont1 a:hover{
    color: white;
}
.cont2{
    max-width: 164px;
    padding-left: 40px;
    border-left: 1px solid #272727;
}
nav .mnu_bottom{
    list-style-type: none;
}    
nav .mnu_bottom li{
    display: table-header-group;
}
nav .mnu_bottom li a{
    margin-bottom: 15px;
    display: block;
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: normal;
    line-height: 17px;
    transition: color .4s ease;
}
nav .mnu_bottom li a:hover{
    color: goldenrod;
}
.cont3{
    max-width: 341px;
    padding-left: 40px;
    border-left: 1px solid #272727;
}
.cont3 a{
    color: rgba(108, 132, 216, 1);
}
.cont3 a:hover{
    color: white;
}
.text_cont3{
    margin-bottom: 10px;
}
.targ{
    display: flex;
    margin-top: 15px;
}
.targ img{
    padding-right: 7px;
}
.telepfon{
    display: flex;
    margin-top: 13px;
}
.telepfon img{
    padding-right: 10px;
}
.poshta{
    display: flex;
    margin-top: 10px;
}
.poshta img{
    padding-right: 14px;
}


.bottom_tag{
    border-top: 1px solid rgba(81, 81, 81, 1);
    margin-top: 79px; 
    height: 56px;
    display: flex;
    justify-content: center;
}
.bottom_tag p{
    margin-top: 20px;
    color: rgba(81, 81, 81, 1);
}