/*______________________ MAIN CSS ______________________*/
:root {
    --color-txt-w: #FFFFFF;
    --color-txt-b: #000000;
    --color-grey: #515151;
    --color-btn:#2e4e70;
    --color-btn-hover:#213d5c;
    --color-link: #6C84D8;
    --color-link-hover:#daa520;
}
a {
    text-decoration: none;
    align-items: center;
    transition: color .4s ease;
    font-family: sans-serif;
}
p {
    text-decoration: none;
    letter-spacing: 0.05em;
}
.wrapper {
    width: 1110px;
    height: 100%;
    margin: 0 auto;
}
.btn{
    color: white;
    background: var(--color-btn);
    border: solid 2px var(--color-btn);
    border-radius: 10px;
    transition: all 0.2s ease 0s;
    padding: 10px 85px;
}
.btn:hover{
    background-color: var(--color-btn-hover);
    color: var(--color-link-hover);
    transition: .5s ease;
    border-radius: 10px;
    transition: color .4s ease;
}
.btn:active{
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}
@media screen and (max-width: 1110px){
    .wrapper {width: 95%;}
}
.text-black {
    font-size: 18px;
    color: var(--color-txt-b);
}
.text-white {
    font-size: 18px;
    color: var(--color-txt-w);
}
.text-grey {
    font-size: 18px;
    color: var(--color-grey);
}
.text-link {
    font-size: 18px;
    color: var(--color-link);
}
.text-link:hover{
    color: var(--color-txt-w);
}
/*______________________ TEXT ______________________*/
@media screen and (max-width: 1110px){
    .text-black {font-size: 16px;}
    
    .text-white {font-size: 16px;}
    
    .text-grey {font-size: 16px;}
    
    .text-link {font-size: 16px;}
}
@media screen and (max-width: 992px){
    .text-black {font-size: 14px;}
    
    .text-white {font-size: 14px;}
    
    .text-grey {font-size: 14px;}
    
    .text-link {font-size: 14px;}
}
@media screen and (max-width: 768px){
    .text-black {font-size: 12px;}
    
    .text-white {font-size: 12px;}
    
    .text-grey {font-size: 12px;}
    
    .text-link {font-size: 12px;}
}
@media screen and (max-width: 576px){
    .text-black {font-size: 11px;}
    
    .text-white {font-size: 11px;}
    
    .text-grey {font-size: 11px;}
    
    .text-link {font-size: 11px;}
}
@media screen and (max-width: 480px){
    .text-black {font-size: 9px;}
    
    .text-white {font-size: 9px;}
    
    .text-grey {font-size: 9px;}
    
    .text-link {font-size: 9px;}
}
@media screen and (max-width: 425px){
    .text-black {font-size: 11px;}
    
    .text-white {font-size: 11px;}
    
    .text-grey {font-size: 11px;}
    
    .text-link {font-size: 11px;}
}
@media screen and (max-width: 375px){
    .text-black {font-size: 9px;}
    
    .text-white {font-size: 9px;}
    
    .text-grey {font-size: 9px;}
    
    .text-link {font-size: 9px;}
}




/*______________________ BOX_about ______________________*/
.about{
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 150px 0;
}
.about-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about-container__img{
    width: 50%;
    margin-right: 20px;
}
.about__img{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.28), rgba(0, 0, 0, 0.28));
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%), 0px 4px 4px rgb(0 0 0 / 25%);
}
.about-info{
    width: 50%;
}
.about-info h4{
    font-weight: 600;
    font-size: 28px;
    line-height: 44px;
}
.about-info__title{
    margin: 20px 0 40px 0;
    font-size: 20px;
}
.about-info__text-mob{
    display: none;
}
.arrow {
    text-align: left;
    font-size: 60px;
    width: 70px;
    color: black;
}
.arrow:hover{
    color: var(--color-link-hover);
}
.about-container:last-child{
    align-items: baseline;
}
.about-content{
    margin: 150px 15px 0 15px;
    flex: 1;
}
.about-content__img{
    margin: 0 auto;
}
.about-content__titel{
    margin: 20px 0;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
}
.about-content__text{
    font-weight: 400;
    font-size: 18px;
    text-align: justify;
}
@media screen and (max-width: 1110px){
    .about-info{
        max-width: none;
    }
    .arrow{
        font-size: 50px;
    }
}
@media screen and (max-width: 992px){
    .about{
        padding: 100px 0;
    }
    .about-info h4{
        font-size: 24px;
        line-height: 29px;
    }
    .about-info__title{
        margin: 10px 0;
        font-size: 18px;
    }
    .arrow{
        font-size: 40px;
    }

    .about-content{
        margin: 50px 15px 0 15px;
    }
    .about-content__img{
        width: 80px;
        height: 80px;
    }
    .about-content__titel{
        font-size: 16px;
    }
    .about-content__text{
        font-size: 12px;
    }
}
@media screen and (max-width: 576px){
    .about{
        padding: 50px 0;
    }
    .about-info h4{
        font-size: 18px;
        line-height: 22px;
    }
    .about-info__title{
        margin: 10px 0;
        font-size: 14px;
    }
    .arrow{
        font-size: 30px;
    }
    .about-info__text-pc{
        display: none;
    }
    .about-info__text-mob{
        display:block;
    }
    .about-content__img{
        width: 60px;
        height: 60px;
    }
    .about-content__titel{
        font-size: 12px;
    }
    .about-content__text{
        font-size: 10px;
    }
}
@media screen and (max-width: 480px){
    .about{
        padding: 40px 0;
    }
    .about-container{
        display: flex;
        flex-direction: column;
    }
    .about-container__img{
        width: 100%;
        margin-right: 0px;
    }
    .about-info{
        width: 100%;
    }
    .about-info h4{
        margin-top: 30px;
        font-size: 18px;
        text-align: center;
    }
    .about-container:last-child {
        align-items: center;
    }
    .about-content{
        margin: 20px 15px 0 15px;
    }
    .about-content__titel{
        margin: 20px 0;
        font-size: 14px;
    }
    .about-content__text{
        font-size: 11px;
    }
    .about-content__img{
        width: 80px;
        height: 80px;
    }
}





/*______________________ BOX_news ______________________*/
.news{
    width: 100%;
    background-image: url("../static/images/1920/box2.svg");
    padding: 100px 0 70px 0;
}
.news__title{
    font-weight: bold;
    font-size: 48px;
    text-align: center;
    margin-bottom: 100px;
}
.section-article{
    margin-bottom: 60px;
    display: flex;
}
.section-article:last-child{
    margin-bottom: 100px;
}
.article-date{
    max-width: 160px;
    border-right: 1px solid #515151;
    margin-right: 30px;
}
.article__date{
    font-weight: bold;
    margin-right: 35px;
    padding-top: 25%;
}
.article-content{
    max-width: 920px;
}
.article__headline{
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
}
.article-text{
    margin-top: 10px;
    border-top: 1px solid #515151;
}
.text__inf{
    padding-top: 10px;
    font-size: 16px;
    line-height: 20px;
}
.text__inf a{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    display: contents;
    color: var(--color-link)
}
.news__btn{
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 992px){
    .news{
        background-image: url("../static/images/1024/box2.svg");
    }
}
@media screen and (max-width: 768px){
    .news{
        background-image: url("../static/images/768/box2.svg");
        padding: 50px 0px 20px 0;
    }
    .news__title{
        font-size: 36px;
        margin-bottom: 50px;
    }
    .article__date{
        font-size: 12px;
        margin-right: 10px;
    }
    .section-article:last-child{
        display: none;
    }
}
@media screen and (max-width: 576px){
    .news{
        background-image: url("../static/images/576/box2.svg");
    }
    .news__title{
        font-size: 24px;
        margin-bottom: 50px;
    }
    .article__headline{
        font-size: 14px;
    }
    .text__inf{
        font-size: 12px;
    }
    .article-date{
        margin-right: 20px;
    }
}
@media screen and (max-width: 480px){
    .news__title{
        font-size: 18px;
        margin-bottom: 40px;
    }
    .section-article{
        margin-bottom: 30px;
    }
    .article__date{
        font-size: 10px;
    }
    .article__headline{
        font-size: 11px;
    }
    .text__inf{
        font-size: 9px;
    }
}
@media screen and (max-width: 320px){
    .news{
        background-image: url("../static/images/320/box2.svg");
    }
}




/*______________________ BOX_archive ______________________*/
.archive-committee{
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 150px 0;
}
.archive{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.archive-container__img{
    width: 50%;
    margin-left: 20px;
}
.archive__img{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.archive-info{
    width: 50%;
}
.archive-info__title{
    font-weight: 600;
    font-size: 28px;
    line-height: 44px;
    margin-bottom: 30px;
}

.committee__title{
    margin: 150px 0 100px 0;
    text-align: center;
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
}
.conteiner-orgcom{
    display: flex;
}
.orgcom{
    flex: 1;
    margin: 0 10px;
}
.orgcom__img{
    margin: 0 auto;
}
.orgcom__job{
    font-weight: 600;
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    margin: 10px 0;
}
.orgcom__text{
    font-size: 16px;
    align-items: center;
    text-align: center;
}
@media screen and (max-width: 1130px){
    .archive-committee{
        padding: 100px 0;
    }
    .committee__title{
        margin: 100px 0px 70px 0px;
    }
    .conteiner-orgcom{
        flex-wrap: wrap;
    }
    .orgcom{
        margin: 5px 50px;
    }
}
@media screen and (max-width: 768px){
    .archive-info__title{
        font-size: 18px;
        line-height: 150%;
        margin-bottom: 20px;
    }
    .archive-info__text{
        font-size: 14px;
    }

    .committee__title{
        font-size: 36px;
    }
    .orgcom{
        margin: 5px 10px;
    }
    .orgcom__job{
        font-size: 18px;
    }
    .orgcom__text{
        font-size: 14px;
    }
}
@media screen and (max-width: 576px){
    .archive-info__title{
        font-size: 14px;
    }
    .archive-info__text{
        font-size: 12px;
    }
    .archive-committee{
        padding: 50px 0;
    }
    .committee__title{
        margin: 40px 0;
        font-size: 24px;
    }
}
@media screen and (max-width: 480px){
    .archive-committee{
        padding: 40px 0;
    }
    .archive{
        flex-direction: column;
    }
    .archive-container__img{
        margin-left: 0px;
        width: 100%;
    }
    .archive-info{
        width: 100%;
    }
    .archive-info__title{
        margin-top: 30px;
    }
    .committee__title{
        margin: 30px 0;
        font-size: 18px;
    }

    .orgcom{
        margin: 10px;
    }
    .orgcom__job{
        font-size: 13px;
    }
    .orgcom__text{
        font-size: 10px;
    }
}




/*______________________ BOX_members ______________________*/
.members{
    width: 100%;
    background-image: url("../static/images/1920/box4.svg");
    padding: 50px 0;
}
.members-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.inf-block{
    max-width: 470px;
    justify-content: space-between;
}
.border{
    border-right: 1px solid rgba(81, 81, 81, 1);
    width: 1px;
    height: 500px;
    margin: 50px 25px;
}
.inf-block__title{
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 50px;
}
.element_o{
    overflow-y: auto;
    height: 350px;
}
.element_o::-webkit-scrollbar {
    width: 5px;
    background-color: #f9f9fd;
}
.element_o::-webkit-scrollbar-thumb {
    background-color: #ad6f3b;
    background-image: -webkit-linear-gradient(45deg,rgba(255, 255, 255, .25));
}
.overflow__text{
    line-height: 150%;
    margin-right: 30px;
    text-align: left;
}
@media screen and (max-width: 768px){
    .members{
        background-image: url("../static/images/768/box4.svg");
    }
    .border{
        height: 400px;
        margin: 30px 25px;
    }
    .inf-block__title{
        font-size: 18px;
    }
    .element_o{
        height: 250px;
    }
}
@media screen and (max-width: 576px){
    .members{
        background-image: url("../static/images/576/box4.svg");
        padding: 25px 0;
    }
    .border{
        height: 400px;
        margin: 0px 25px;
    }
    .inf-block__title{
        font-size: 16px;
    }
}
@media screen and (max-width: 480px){
    .members-container{
        flex-wrap: wrap;
    }
    .border{
        display: none;
    }
    .inf-block__title{
        margin: 20px 0;
    }
    .element_o{
        height: 175px;
        width: 85%;
        margin: 0 auto;
    }
    .overflow__text{
        margin-right: 10px;
    }
}
@media screen and (max-width: 320px){
    .members{
        background-image: url("../static/images/320/box4.svg");
    }
}




/*______________________ BOX_partners ______________________*/
.partners{
    background: white;
    padding: 150px 0;
}
.partners__title{
    text-align: center;
    margin-bottom: 100px;
}
.partners-img{
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 1110px){
    .partners{
        padding: 100px 0;
    }
}
@media screen and (max-width: 768px){
    .partners{
        padding: 50px 0;
    }
    .partners__title{
        font-size: 24px;
        margin-bottom: 50px;
    }
}
@media screen and (max-width: 576px){
    .partners-img{
        flex-wrap: wrap;
    }
    .partners__img{
        margin: 10px 0;
        max-width: 80px;
        max-height: 80px;
    }
}
@media screen and (max-width: 480px){
    .partners__title{
        font-size: 16px;
        margin-bottom: 20px;
    }    
}





/*______________________ BOX_place ______________________*/
.place{
    width: 100%;
    background-image: url("../static/images/1920/mapp.svg");
    padding: 77px 0px;
}
.block-contact{
    Width:50%;
    background: rgba(51, 51, 51, 0.8);
}
.map-content{
    max-width: 337px;
    margin: 0 auto;
    padding: 30px 0;
}
.map-content__title{
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 25px;
}
.contact{
    display: flex;
    margin-bottom: 25px;
    align-items: center;
}
.contact__img{
    padding-right: 30px;
}
.contact__text{
    font-size: 16px;
}
.btn_place{
    display: flex;
    align-items: center;
    justify-content: space-around;
    Width:220px;
    Height:50px;
    border: 2px solid #FFFFFF;
    background: rgba(51, 51, 51, 0.0);
    border-radius: 10px;
    color: #FFFFFF;
    transition: .5s ease;
}
.btn_place:hover{
    color: #000000;
    background: rgb(255, 255, 255);
    transition: .5s ease;
}

@media screen and (max-width: 992px){
    .place{
        background-image: url("../static/images/1024/mapp.svg");
    }
}
@media screen and (max-width: 768px){
    .place{
        background-image: url("../static/images/768/mapp.svg");
        padding: 40px 0px;
    }
    .contact__img{
        margin-left: 10px;
    }
}
@media screen and (max-width: 576px){
    .place{
        background-image: url("../static/images/576/mapp.svg");
    }
    .block-contact{
        width: 60%;
    }
    .map-content__title{
        font-size: 18px;
        padding-top: 20px;
        margin-bottom: 15px;
    }
    .contact{
        margin-bottom: 25px;
    }
    .contact__img{
        width: 10%;
        padding-right: 10px;
    }
    .contact__text{
        font-size: 14px;
    }
}
@media screen and (max-width: 480px){
    .place{
        background: rgba(51, 51, 51, 0.8);
        padding: 15px 0;
    }
    .block-contact{
        Width:100%;
        Height:100%;
        background-color: rgba(0, 0, 0, 0);
    }
}