:root {
    --color-navy: #070C20E5;
    --color-blue: #2E4E70;
    --color-bluehover: #1e334a;
    --color-lightblue: #6C84D8;
    --color-white: #FFFFFF;
    --color-dark: #000000;
    --color-grey: #515151;
}

a {
    color: var(--color-white);
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: color .4s ease;
}
p {
    color: var(--color-white);
    text-decoration: none;
    align-items: center;
    letter-spacing: 0.05em;
    text-align: center;
}

.wrapper {
    width: 1110px;
    height: 100%;
    margin: 0 auto;
}

@media screen and (max-width: 1110px){
    .wrapper {width: 95%;}
}

.text-bold {
    font-weight: bold;
}

.text-black {
    font-family: sans-serif;
    font-size: 18px;
    color: var(--color-black);
}

.text-white {
    font-family: sans-serif;
    font-size: 18px;
    color: var(--color-white);
}

.text-grey {
    font-family: sans-serif;
    font-size: 18px;
    color: var(--color-grey);
}

.text-blue {
    font-family: sans-serif;
    font-size: 18px;
    color: var(--color-lightblue);
}

@media screen and (max-width: 1024px){
    .text-black {font-size: 16px;}
    
    .text-white {font-size: 16px;}
    
    .text-grey {font-size: 16px;}
    
    .text-blue {font-size: 16px;}
}

@media screen and (max-width: 768px){
    .text-black {font-size: 14px;}
    
    .text-white {font-size: 14px;}
    
    .text-grey {font-size: 14px;}
    
    .text-blue {font-size: 14px;}
}

.about {
    /* background-color: orange; */
    height: 1000px;
}

.about__container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.about__row {
    flex-grow: 1;
    display: flex;
    height: 100%;
}

.about__row:first-child {
    flex-grow: 2;
}

.about__col {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 33.333%;
}

.about__col__row {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.news {
    height: 890px;
    background-color: var(--color-dark);
}

.news__container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.news__row {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.news__col {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.partners {
    height: 400px;
}

.partners__container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
}

.partners__row {
    padding: 20px 0;
}

.partners__row img {
    transform: scale(0.8);
    margin: 0 10px;
}

.archive {
    height: 1000px;
}

.archive__container {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.archive__row {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.archive__col {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.archive__row__col {
    flex-grow: 1;
    padding: 0 20px 0 20px;
    display: inline-flex;
}

.archive__person {
    width: 16.667%;
    padding: 10px;
}









































.place {
    background-image: url("../static/images/1920/mapp.svg");
    width: 100%;
    height: 100%;
}

.place__container {
    display: flex;
    flex-direction: column;
}

.place__row {
    height: 80px;
    display: flex;
    flex-direction: column;
}

.place__row:nth-child(2) {
    width: 500px;
    height: 420px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
}
